* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: sans-serif;
  overflow: scroll;
}

body {
  background-image: url(img/home.jpg);
  background-repeat: no-repeat;
  background-position-y: -50px;
  background-size: cover;
}


main {
  flex: 1 1 auto;
}

.wrapper {
  /* border: 5px solid red; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-around;
  height: 141px;
  width: 100vw;
}

.phone {
  display: flex;
  justify-content: right;
  color: white;
  font-size: 30px;
  margin-right: 80px;
  margin-top: 40px;
}

.empty {
  width: 1000px;
  /* border: 3px solid aqua; */
}

.navigation-a {
  font-size: 40px;
  color: white;
  text-decoration: none;
  transition: all 1.5s;
  margin-top: 40px;
}

a:hover {
  color: #454545;
}

.razdelitel {
  /* border: 3px solid red; */
  width: 100vw;
  height: 675px;
  margin-top: 200px;
}

.aboutUs {
  padding: 50px;
  height: 950px;
  /* border: 3px solid red; */
  color: #454545;
  font-size: 30px;
}

.title {
  font-size: 60px;
  margin-bottom: 20px;
}

.ssilkaForma {
  color: #454545;
  font-size: 30px;
  transition: all 0.5s;
}

.ssilkaProject {
  color: #454545;
  font-size: 30px;
  transition: all 0.5s;
}

.ssilkaForma:hover {
  color: #52aa0f;
}

.ssilkaProject:hover {
  color: #52aa0f;
}

.aboutImage {
  padding-top: 30px;
}

.imageAboutUs {
  max-width: 100%;
}

p {
  margin-bottom: 10px;
}

.razdelitel2 {
  /* border: 3px solid red; */
  width: 100vw;
  height: 675px;
  margin-top: -300px;
}

.flex-containers {
  display: flex;
  justify-content: space-around;
}

.cards {
  width: 500px;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.card1 {
  background-image: url(img/house1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card2 {
  background-image: url(img/house2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card3 {
  background-image: url(img/house3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card4 {
  background-image: url(img/house4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card5 {
  background-image: url(img/house5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card6 {
  background-image: url(img/house6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card7 {
  background-image: url(img/house7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card8 {
  background-image: url(img/house8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card9 {
  background-image: url(img/house9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card10 {
  background-image: url(img/house10.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
}

.card11 {
  background-image: url(img/house11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card12 {
  background-image: url(img/house12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title2 {
  display: flex;
  justify-content: left;
  font-size: 60px;
  margin-bottom: 20px;
  padding: 50px;
  color: #454545;
}

.footer {
  /* border: 5px solid red; */
  background-color: #454545;
  height: 300px;
  padding-top: 20px;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

input {
  border: none;
  border: 3px solid #52aa0f;
  padding: 20px;
  margin: 30px;
  text-align: center;
  border-radius: 10px;
}

input:focus {
  outline: 3px solid #52aa0f;
}

.container-button-form {
  display: flex;
  justify-content: center;
}

.button-form {
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  border: 3px solid #52aa0f;
  color: white;
  text-align: center;
  font-family: 15px;
  transition: all 0.8s;
}

.button-form:hover {
  background-color: #52aa0f;
}
